
li {
    position: relative;
    background-color: lightgray;
    margin: 12px 0px; 
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: auto;
    text-align: left;
}

.itemText{
    font-weight: 500;
    flex: 1;
}

.itemTextCompleted {
    text-decoration: line-through;
    color: green;
}