* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#root {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-theme="light"] {
  --bg-primary: #F7F2FA;
  --bg-secondary: #FFFFFF;
  --bg-tertiary: #EEEEEE;
  --text-primary: #222222;
  --icon-color: #333333;
  --shadow: 0 4px 6px rgba(34, 34, 34, 0.3);
}

[data-theme="dark"] {
  --bg-primary: #25232A;
  --bg-secondary: #222222;
  --bg-tertiary: #444444;
  --text-primary: #ffffff;
  --icon-color: #eeeeee;
  --shadow: 0 4px 6px rgba(225, 225, 225, 0.3);
}

body {
  font-family: "Monserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, p{
  color: var(--text-primary);
}

li {
 background-color: var(--bg-tertiary);
}
